$ColorPurple: #2C1B47;
$ColorLightPurple: #724C9D;
$CololPink: #DCCAE9;
$ColorDeepPurple: #9356A0;
$ColorBlack: #1E1112;
$ColorWhite: #ffffff;

$mainFontSize: 16;

$mainFont: "Sora";
$containerWidth: 1200px;