.todo {
   padding: 200px 0px 0px 0px;

   &__list {
      position: relative;
   }

   &__list-item {
      display: flex;
      position: absolute;
      width: calc(100% - 50px);
      top: 0px;
      left: 0px;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      background: $CololPink;
      border-radius: 20px;
      transition: all .4s;
   }

   &__list-text {
      flex: 0 0 80%;
      @extend %StyleTextH4;
      color: $ColorPurple;
   }

   &__list-button {
      background: transparent;
      border: none;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;

      @media (hover: hover) {
         
         &:hover span:nth-child(1) {
            transform: rotate(180deg);
         }

         &:hover span:nth-child(2) {
            transform: rotate(180deg);
         }
      
      }

      span {
         position: absolute;
         background: $ColorBlack;
         width: 100%;
         height: 5px;
         border-radius: 50px;
         transition: all .3s;
      }

      span:nth-child(1) {
         transform: rotate(45deg);
      }

      span:nth-child(2) {
         transform: rotate(315deg);
      }
   }
}